#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.App{
  padding: 2px;
  /* background-color: lightblue; */
  height: 200px;
  width: 200px;
border-style: inset;
  /* border-color: lightcoral; */
  /* border-radius: 20px; */
}
.center{
  height: 180px;
  width: 200px;
}